$indent: 35px;
$langWidth: calc((100% - 35px) / 3);

.aside {
  background: linear-gradient(0deg, rgba(3, 95, 26, 1), rgba(2, 34, 94, 0.92)),
    url('../images/one-year-of-react-native-1500x880.jpg') no-repeat center;
  background-size: cover;
  width: 370px;
  padding-bottom: $indent;

  &__photo {
    width: 370px;
  }

  &__container {
    padding: $indent;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  &__title {
    line-height: $indent;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    // font-size: 72px;
    background: -webkit-linear-gradient(white, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &.lang__list {
      min-height: $indent;
      margin: auto;
    }
  }

  &__item {
    position: relative;
    font-size: 19px;
    // line-height: 25px;
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
    &:last-of-type {
      // margin: 0;
      padding: 0;
    }

    &.lang {
      margin-bottom: 0px;
      padding-bottom: 0px;
      width: $langWidth;
      justify-content: center;
      &:hover {
        filter: none;
        filter: drop-shadow(1px 1px 8px gold);
      }
    }
    &.skill {
      padding: 7px;
      justify-content: space-between;
      text-align: center;
      border: 1px black solid;
      border-radius: 20px 0;
      background: rgb(157, 152, 228);
      background: linear-gradient(25deg, gold, silver);
      & > .aside__link > .aside__text {
        color: black;
        filter: drop-shadow(0px 0px 2px black);
      }
    }
  }

  &__item-icon {
    padding: 5px;
    width: 50px;

    &.social-icon {
      width: 35px;
      margin-right: 8px;
      // margin-top: 5px;
      padding: 0;
    }
    &.lang-icon {
      pointer-events: none;
      width: 40px;
    }

    &:hover {
      width: 30px;
    }
    &:hover + .hidden {
      display: block;
    }
  }

  &__link {
    color: #c7c8ca;
    font-weight: 400;
    text-decoration: none;
    &.social-link {
      margin: 0 20px;
    }
  }

  &__link-title {
    color: #ffffff;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 5px;
    min-height: $indent;
  }

  &__text {
    line-height: 25px;
    color: #ffffff;
    display: block;
    &.hidden {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
