$indent: 40px;
$langWidth: calc((100% - 40px) / 3);

.aside {
  background: linear-gradient(0deg, rgba(3, 95, 26, 1), rgba(2, 34, 94, 0.92)),
    url('../images/one-year-of-react-native-1500x880.png') no-repeat center;
  background-size: cover;
  width: 370px;
  // padding-top: $indent;
  padding-bottom: $indent;

  &__photo {
    width: 370px;
  }

  &__container {
    margin-left: $indent;
    margin-top: 60px;
    margin-right: $indent;
    // background: #1e2939;
    box-sizing: border-box;
  }

  &__title {
    line-height: $indent;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &.lang__list {
      min-height: $indent;
    }
  }

  &__item {
    position: relative;
    font-size: 20px;
    line-height: $indent;
    display: block;
    margin: 5px;
    padding: 5px;
    // width: auto;

    &.lang {
      width: $langWidth;
      &:hover {
        filter: none;
        filter: drop-shadow(1px 1px 8px #39ff14);
      }
    }
    &.skill {
      text-align: center;
    }
  }

  &__item-icon {
    display: block;
    margin: auto;
    &.lang-icon {
      pointer-events: none;
      width: 30px;
      &:hover {
        width: 45px;
      }
    }
    &:hover {
      width: 30px;
    }
    &:hover + .hidden {
      display: block;
    }
  }

  &__link {
    color: #c7c8ca;
    font-weight: 400;
    text-decoration: none;
  }

  &__link-title {
    color: #ffffff;
    font-weight: 700;
    margin-right: 10px;
  }

  &__text {
    line-height: 25px;
    color: #ffffff;
    display: block;
    &.hidden {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
