<h1 class='about__name'>{{name}}</h1>
<h2 class='about__profession'>Full-Stack React/Node.js Developer</h2>
<div class='container'>
  <p class='about__description'>{{#each description}}
      <span class='about__description-span'>{{this}}</span>
    {{/each}}
  </p></div>