<h3 class='aside__title'>Soft Skills</h3>
<ul class='aside__softSkills'>
  {{#each softSkills}}
    <li class='aside__item'>
      <span class='aside__text'>{{this}}</span>
    </li>
  {{/each}}
</ul>