<section class="about">
  <!-- about me main info -->
  <div class="about__container aboutMe__template">
    <!-- template place aboutMe.hbs -->
  </div>

  <!-- Projects container -->

  <div class="about__container">
    <h3 class="about__title visually-hidden">Projects</h3>
    <ol class="projects">
      <li class="projects__item container">
        <a class="projects__link" href="https://sepaev.github.io/web-studio/">
          <img
            src="./images/ws.svg"
            class="projects__item-icon"
            alt="WebStudio"
            style="width: 150px"
          />
          <p class="projects__link-text">https://sepaev.github.io/ web-studio/</p>
        </a>
        <span class="projects__tech"> HTML5, CSS3 </span>
      </li>
      <li class="projects__item container">
        <a class="projects__link" href="https://sepaev.github.io/reacteam-project/">
          <img
            src="./images/hellen.svg"
            class="projects__item-icon"
            alt="HellEN"
            style="width: 150px"
          />
          <p class="projects__link-text">https://sepaev.github.io/ reacteam-project/</p>
        </a>
        <span class="projects__tech"> SCSS, HTML5, JavaScript </span>
      </li>
      <li class="projects__item container">
        <a class="projects__link" href="https://sepaev.github.io/search-images/">
          <img
            src="./images/search.svg"
            class="projects__item-icon"
            alt="Search"
            style="width: 24px"
          />
          <span class="projects__text lo-font weight-font"> Search images...</span>
          <p class="projects__link-text">https://sepaev.github.io/ search-images/</p>
        </a>
        <span class="projects__tech"> JavaScript, SCSS, Handlebars, Parcel, API</span>
      </li>
      <li class="projects__item container">
        <a class="projects__link" href="https://sepaev.github.io/filmoteka/">
          <img
            src="./images/filmoteka1.svg"
            class="projects__item-icon"
            alt="filmoteka-icon"
            style="width: 24px"
          />
          <img
            src="./images/filmoteka2.svg"
            class="projects__item-icon"
            alt="filmoteka-text"
            style="width: 141px"
          />
          <p class="projects__link-text">https://sepaev.github.io/ filmoteka/</p>
        </a>
        <span class="projects__tech"> JavaScript, SCSS, Handlebars, Parcel, API </span>
      </li>
      <li class="projects__item container">
        <a class="projects__link" href="https://goit-react-hw-08-phonebook-by-sepaev.netlify.app/">
          <img
            src="./images/phonebook.png"
            class="projects__item-icon"
            alt="Phone"
            style="width: 24px"
          />
          <span class="projects__text weight-font">Phonebook</span>
          <p class="projects__link-text">
            https://goit-react-hw-08-phonebook-by-sepaev.netlify.app/
          </p>
        </a>
        <span class="projects__tech"> React, Redux, JSX, Node.js, API</span>
      </li>
    </ol>
  </div>

  <!-- Work Experience -->
  <div class="about__container workExperience__template">
    <!-- template place workExperience.hbs -->
  </div>

  <!-- Education -->
  <div class="about__container myEducation__template">
    <!-- template place myEducation.hbs -->
  </div>
  <!-- Languages -->
  <div class="about__container myLanguages__template">
    <!-- template place myEducation.hbs -->
  </div>

  <a class="print hidden-print" href="./public/summaryUA.pdf" target="”_blank”"
    ><img src="./images/print.png" class="print__icon" alt="Print" style="width: 48px"
  /></a>
  <a class="print hidden-print visually-hidden" href="./public/summaryUA.pdf" target="”_blank”"
    ><img
      src="./images/print.png"
      class="print__icon visually-hidden"
      alt="Print"
      style="width: 48px"
  /></a>
  <a class="print hidden-print visually-hidden" href="./public/summaryRU.pdf" target="”_blank”"
  ><img
    src="./images/print.png"
    class="print__icon visually-hidden"
    alt="Print"
    style="width: 48px"
/></a>
  <a class="print hidden-print visually-hidden" href="./public/summaryEN.pdf" target="”_blank”"
    ><img
      src="./images/print.png"
      class="print__icon visually-hidden"
      alt="Print"
      style="width: 48px"
  /></a>
</section>
