<section class="about">
  <!-- about me main info -->
  <div class="about__container">
    <h2 class="about__profession">Full-Stack React/Node.js Developer</h2>
    <h1 class="about__name">Ievhen Pavlovskyi</h1>
    <p class="about__description">
      There were no projects for sale. I spent a lot of time on self-study. Bug fixing some already
      created sites, installing and config several online stores using CMS. I kept my forum,
      practiced with it in PHP, SQL, ftp, access discipline, etc. More practice in VBA programming.
      More than 10 years I'm using my handmade MS Access database for my business. All this time,
      I'v been practicing VBA programing, adding functionality and various changes to it.
    </p>
  </div>

  <!-- Projects container -->

  <div class="about__container">
    <h3 class="about__title">Projects</h3>
    <ol class="projects">
      <li class="projects__item">
        <a class="projects__link" href="https://sepaev.github.io/reacteam-project/"
          >HellEN - Адский английский</a
        >
        <span><b>[</b><span class="projects__tech"> HTML5, CSS3 </span><b>]</b></span>
      </li>
      <li class="projects__item">
        <a class="projects__link" href="https://sepaev.github.io/filmoteka/">Filmoteka</a>

        <span
          ><b>[</b><span class="projects__tech"> JavaScript, SCSS, HTML5, Handlebars </span
          ><b>]</b></span
        >
      </li>
    </ol>
  </div>

  <!-- Work Experience -->
  <div class="about__container">
    <h3 class="about__title">Work Experience</h3>
    <!-- company 1 -->
    <div lass="profession">
      <h4 class="profession__title">
        Front-End Developer <span class="profession__company">Freelance</span>
      </h4>
      <span class="about__period"
        >September 2019 - up to now<span class="about__divider"> | </span>Ukraine</span
      >
      <ul class="profession__duties">
        <li class="profession__duties-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </li>
        <li class="profession__duties-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li class="profession__duties-item">Risus commodo viverra maecenas.</li>
        <li class="profession__duties-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
        </li>
      </ul>
    </div>
    <!-- company 2 -->
    <div lass="profession">
      <h4 class="profession__title">
        Manager <span class="profession__company">Roga & Kopyta LLC </span>
      </h4>
      <span class="about__period"
        >March 2015 - October 2018<span class="about__divider"> | </span>Ukraine</span
      >
      <ul class="profession__duties">
        <li class="profession__duties-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore
          magna aliqua.
        </li>
        <li class="profession__duties-item">Quis ipsum suspendisse ultrices gravida.</li>
        <li class="profession__duties-item">Risus commodo viverra maecenas.</li>
      </ul>
    </div>

    <!-- company 3 -->
    <div lass="profession">
      <h4 class="profession__title">
        Manager <span class="profession__company">Roga & Kopyta LLC</span>
      </h4>
      <span class="about__period"
        >June 2014 - February 2015<span class="about__divider"> | </span>Ukraine</span
      >
      <ul>
        <li class="profession__duties-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li class="profession__duties-item">Quis ipsum suspendisse ultrices gravida.</li>
        <li class="profession__duties-item">Risus commodo viverra maecenas. .</li>
      </ul>
    </div>
  </div>

  <!-- Education -->
  <div class="about__container">
    <h3 class="about__title">Education</h3>
    <!-- Education 1 -->
    <div class="education">
      <h4 class="education__university">Kyiv National University of Trade and Economics</h4>
      <h2 class="education__specialization">Enterprise economy</h2>
      <span class="about__period"
        >Septermber 2003 - June 2008<span class="about__divider"> | </span>Ukraine</span
      >
    </div>
    <!-- Education 2 -->
    <div class="education">
      <h4 class="education__university">Courses</h4>
      <h2 class="education__specialization">Javascript</h2>
      <span class="about__period"
        >August 2014 - November 2014<span class="about__divider"> | </span>Ukraine</span
      >
    </div>
    <!-- Education 3 -->
    <div class="education">
      <h4 class="education__university">Courses</h4>
      <h2 class="education__specialization">PHP</h2>
      <span class="about__period"
        >November 2014 - February 2015<span class="about__divider"> | </span>Ukraine</span
      >
    </div>
  </div>
</section>
