<aside class="aside">
  <img class="aside__photo" src="./images/photo.jpg" alt="My photo" />

  <!-- Contacts container-->
  <div class="aside__container">
    <h3 class="aside__title">Contacts</h3>
    <div class="aside__item">
      <span class="aside__link-title">📞</span>
      <a class="aside__link" href="tel+38 050 441 93 88">+38 050 441 93 88</a>
    </div>
    <div class="aside__item">
      <span class="aside__link-title">📧</span>
      <a class="aside__link" href="mailto:sepaev@gmail.com">sepaev@gmail.com</a>
    </div>
    <div class="aside__item">
      <span class="aside__link-title">🔗</span>
      <a
        class="aside__link"
        target="”_blank”"
        href="https://www.linkedin.com/in/евгений-павловский-8b9813204/"
        >linkedIn</a
      >
    </div>
  </div>
  <!-- Tech skills container-->
  <div class="aside__container">
    <h3 class="aside__title">Tech skills</h3>
    <ul>
      <li class="aside__item">
        <svg class="aside__item-icon" width="48px" height="48px">
          <use width="48px" height="48px" href="./images/html5.svg"></use>
        </svg>
        <!-- https://ru.wikipedia.org/wiki/HTML5 -->
        <span class="aside__text">HTML5</span>
      </li>
      <li class="aside__item">
        <svg class="aside__item-icon" width="48px" height="48px">
          <use width="48px" height="48px" href="./images/css3.svg"></use>
        </svg>
        <span class="aside__text">CSS3</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">GIT</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">JavaScript</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">PhP</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">SQL/MySQL</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">VBA</span>
      </li>
    </ul>
  </div>
  <!-- Soft Skills container-->
  <div class="aside__container">
    <h3 class="aside__title">Soft Skills</h3>
    <ul>
      <li class="aside__item">
        <span class="aside__text">Scrum</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">Agile</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">GTD</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">Teamwork</span>
      </li>
      <li class="aside__item">
        <span class="aside__text">Punctuality</span>
      </li>
    </ul>
  </div>
</aside>
