<aside class="aside">
  <include src="./partials/langBar.html"></include>
  <img class="aside__photo" src="./images/photo.jpg" alt="My photo" />

  <!-- Contacts container-->
  <div class="aside__container myContacts__template">
      <!-- template place myContacts.hbs -->
  </div>
  <!-- Tech skills container-->
  <div class="aside__container">
    <h3 class="aside__title">Tech skills</h3>
    <ul class="aside__list">
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/HTML5" target="”_blank”">
          <!-- <img src="./images/html5.svg" class="aside__item-icon" alt="HTML5" /> -->
          <span class="aside__text">HTML5</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/CSS3" target="”_blank”">
          <!-- <img src="./images/css3.svg" class="aside__item-icon" alt="CSS3" /> -->
          <span class="aside__text">CSS3</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/Sass" target="”_blank”">
          <!-- <img src="./images/sass.svg" class="aside__item-icon" alt="Sass" /> -->
          <span class="aside__text">Sass</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/GIT" target="”_blank”">
          <!-- <img src="./images/git.svg" class="aside__item-icon" alt="GIT" /> -->
          <span class="aside__text">GIT</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/JavaScript" target="”_blank”">
          <!-- <img
            src="./images/javascript.svg"
            class="aside__item-icon"
            alt="JavaScript"
                      /> -->
          <span class="aside__text">JavaScript</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/Node.js" target="”_blank”">
          <!-- <img src="./images/node.svg" class="aside__item-icon" alt="Node.js" /> -->
          <span class="aside__text">Node.js</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/React" target="”_blank”">
          <!-- <img
            src="./images/react.svg"
            class="aside__item-icon"
            alt="React.js"
                      /> -->
          <span class="aside__text">React.js</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/Redux" target="”_blank”">
          <!-- <img src="./images/redux.svg" class="aside__item-icon" alt="Redux" /> -->
          <span class="aside__text">Redux</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/Webpack" target="”_blank”">
          <!-- <img
            src="./images/webpack.svg"
            class="aside__item-icon"
            alt="Webpack"
          /> -->
          <span class="aside__text">Webpack</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://parceljs.org/" target="”_blank”">
          <!-- <img
            src="./images/parcel.png"
            class="aside__item-icon"
            alt="Parcel.js"
          /> -->
          <span class="aside__text">Parcel.js</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/PHP" target="”_blank”">
          <!-- <img src="./images/php.svg" class="aside__item-icon" alt="PHP" /> -->
          <span class="aside__text">PHP</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a class="aside__link" href="https://ru.wikipedia.org/wiki/SQL" target="”_blank”">
          <!-- <img src="./images/sql.png" class="aside__item-icon" alt="SQL"  /> -->
          <span class="aside__text">SQL</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a
          class="aside__link"
          href="https://ru.wikipedia.org/wiki/Visual_Basic_for_Applications"
          target="”_blank”"
        >
          <!-- <img
            src="./images/vba.png"
            class="aside__item-icon"
            alt="Visual Basic for Applications"
          /> -->
          <span class="aside__text">VBA</span>
        </a>
      </li>
      <li class="aside__item skill">
        <a
          class="aside__link"
          href="https://ru.wikipedia.org/wiki/Visual_Studio_Code"
          target="”_blank”"
        >
          <!-- <img src="./images/vsc.svg" class="aside__item-icon" alt="VS Code"  /> -->
          <span class="aside__text">VS Code</span>
        </a>
      </li>
      <li class='aside__item skill'>
        <a class='aside__link' href='https://ru.wikipedia.org/wiki/Scrum' target='”_blank”'>
          <span class='aside__text'>Scrum</span>
        </a>
      </li>
      <li class='aside__item skill'>
        <a class='aside__link' href='https://ru.wikipedia.org/wiki/Agile' target='”_blank”'>
          <span class='aside__text'>Agile</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Soft Skills container-->
  <div class="aside__container softSkills__template">

      <!-- template place softSkills.hbs -->
    </ul>
  </div>
</aside>
