<ul class="aside__list lang__list">
  <li class="aside__item lang hidden-print" data-lang="ua">
    <img src="./images/ukr.png" class="aside__item-icon lang-icon hidden-print" alt="UA" />
  </li>
  <li class="aside__item lang hidden-print" data-lang="ru">
    <img src="./images/rus.png" class="aside__item-icon lang-icon hidden-print" alt="RU" />
  </li>
  <li class="aside__item lang hidden-print" data-lang="en">
    <img src="./images/eng.png" class="aside__item-icon lang-icon hidden-print" alt="EN" />
  </li>
</ul>
