<ul class="aside__list lang__list">
  <li class="aside__item lang" data-lang="ua">
    <img src="./images/ukr.png" class="aside__item-icon lang-icon" alt="UA" style="width: 30px" />
  </li>
  <li class="aside__item lang" data-lang="ru">
    <img src="./images/rus.png" class="aside__item-icon lang-icon" alt="RU" style="width: 30px" />
  </li>
  <li class="aside__item lang" data-lang="en">
    <img src="./images/eng.png" class="aside__item-icon lang-icon" alt="EN" style="width: 30px" />
  </li>
</ul>
